name: 'alt:V Server'
branch: 'dev'
host: 0.0.0.0
port: 7788
players: 128
#password: ultra-password
announce: false
#token: XgpgH4GfnR0D/4O1u1ya0l5PrGhCfn8rJF//E+tuwiMXgWU43W0fDzHHDhwn5MToNmzDETxw5gCuSkbEER/2rXkl6dRUdUTggbPfdD97Zqo2cYL8omB7f63KSeAHTu+1K4UqNrzgr/F1q+kUcp03eF8iHSQ8fgXjwHTnyv8lbGabfdyPT/RwMLwQxJJ3673RDspp/ze1xf8j7lbCbW/ZlVlsEDq+PaGDHMrD9AAN/YO/yMzAGKbBnK9CPRI7EG0wJfCcE8yHdaaow/2OIW1TND8EknfxJTTTNiRGWoG7GLqsEhSvlMW/GydJHu8QXbqohm0O1L/mHIEn6PLLPtimFQ==
#useEarlyAuth: true
#earlyAuthUrl: 'https://pinboard.tesserakt.pro/31lb_rp/index.html:443'
gamemode: Freeroam
website: example.com
language: de
debug: true
description: 'alt:V Sample Server'
modules: [
js-module
csharp-module
]
resources: [
  trainer,
  31lb_core
]
