.color_sprite {
  background-image: url(spritesheet_colors.png);
  background-repeat: no-repeat;
  display: block;
}
.color_sprite.color_sprite-Color-id-1 {
  background-position: 0 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-10 {
  background-position: -30px 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-11 {
  background-position: -60px 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-12 {
  background-position: -90px 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-13 {
  background-position: -120px 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-14 {
  background-position: -150px 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-15 {
  background-position: -180px 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-16 {
  background-position: -210px 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-17 {
  background-position: -240px 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-18 {
  background-position: 0 -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-19 {
  background-position: -30px -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-2 {
  background-position: -60px -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-20 {
  background-position: -90px -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-21 {
  background-position: -120px -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-22 {
  background-position: -150px -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-23 {
  background-position: -180px -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-24 {
  background-position: -210px -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-25 {
  background-position: -240px -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-26 {
  background-position: 0 -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-27 {
  background-position: -30px -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-28 {
  background-position: -60px -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-29 {
  background-position: -90px -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-3 {
  background-position: -120px -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-30 {
  background-position: -150px -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-31 {
  background-position: -180px -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-32 {
  background-position: -210px -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-33 {
  background-position: -240px -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-34 {
  background-position: 0 -90px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-35 {
  background-position: -30px -90px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-36 {
  background-position: -60px -90px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-37 {
  background-position: -90px -90px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-38 {
  background-position: -120px -90px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-39 {
  background-position: -150px -90px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-4 {
  background-position: -180px -90px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-40 {
  background-position: -210px -90px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-41 {
  background-position: -240px -90px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-42 {
  background-position: 0 -120px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-43 {
  background-position: -30px -120px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-44 {
  background-position: -60px -120px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-45 {
  background-position: -90px -120px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-46 {
  background-position: -120px -120px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-47 {
  background-position: -150px -120px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-48 {
  background-position: -180px -120px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-49 {
  background-position: -210px -120px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-5 {
  background-position: -240px -120px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-50 {
  background-position: 0 -150px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-51 {
  background-position: -30px -150px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-52 {
  background-position: -60px -150px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-53 {
  background-position: -90px -150px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-54 {
  background-position: -120px -150px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-55 {
  background-position: -150px -150px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-56 {
  background-position: -180px -150px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-57 {
  background-position: -210px -150px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-58 {
  background-position: -240px -150px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-59 {
  background-position: 0 -180px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-6 {
  background-position: -30px -180px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-60 {
  background-position: -60px -180px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-61 {
  background-position: -90px -180px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-62 {
  background-position: -120px -180px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-63 {
  background-position: -150px -180px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-64 {
  background-position: -180px -180px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-65 {
  background-position: -210px -180px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-66 {
  background-position: -240px -180px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-67 {
  background-position: 0 -210px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-68 {
  background-position: -30px -210px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-69 {
  background-position: -60px -210px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-7 {
  background-position: -90px -210px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-70 {
  background-position: -120px -210px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-71 {
  background-position: -150px -210px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-72 {
  background-position: -180px -210px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-73 {
  background-position: -210px -210px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-74 {
  background-position: -240px -210px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-75 {
  background-position: 0 -240px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-76 {
  background-position: -30px -240px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-77 {
  background-position: -60px -240px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-78 {
  background-position: -90px -240px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-79 {
  background-position: -120px -240px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-8 {
  background-position: -150px -240px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-80 {
  background-position: -180px -240px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-81 {
  background-position: -210px -240px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-82 {
  background-position: -240px -240px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-83 {
  background-position: -270px 0;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-84 {
  background-position: -270px -30px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-85 {
  background-position: -270px -60px;
  width: 30px;
  height: 30px;
}
.color_sprite.color_sprite-Color-id-9 {
  background-position: -270px -90px;
  width: 30px;
  height: 30px;
}
